*{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.wrap{
    max-width: 960px;
    margin: 0 auto;
}
.row-3{
    display: flex;
    justify-content: space-between;
}
.row-3 > div{
    width: 31%;
}
.article-title{
    text-shadow: 1px 1px 0 #0f1518;
    font-family: "LeagueGothic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.header{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: 90%;
}
.header .wrap{
    z-index: 2;
    position: relative;
}
.opacity-bg{
    height: 400px;
    background: #000;
    opacity: 0.4;
    position: absolute;
    z-index: 1;
    top: 130px;
    right: 0;
    left: 0;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 60px 0;
}
.menu ul{
    display: flex;
}
.menu li{
    text-transform: uppercase;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-size: 24px;
    font-family: "LeagueGothic";
}
.menu li:hover{
    border-bottom: 1px solid #edbfff;
}
.menu li+li{
    margin-left: 52px;
}
.header-content{
    position: relative;
    padding: 20px 0;
}
.slide-phone{
    display: flex;
    justify-content: space-between;
}
.description-phone{
    max-width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    z-index:5;
}
.img-phone{
    position: relative;
}
.main-phone{
    z-index: 2;
}
.shadow-phone{
    position: absolute;
    z-index: -1;
    left: -85px;
    top: 51px;
}
.description-phone h1{
    font-family: "LeagueGothic";
    color: #fefefe;
    font-size: 60px;
}
.description-phone h4{
    color: #edbfff;
    font-size: 32px;
    font-family: "LeagueGothic";
    text-transform: uppercase;
}
.description-phone p{
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.slick-prev{
    left: -70px;
}
.slick-next{
    right: -70px;
}
.slick-prev:before,
.slick-next:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f053";
    font-size: 36px;
}
.slick-next:before{
    content: "\f054";
}
.slick-dots li button:before{
    font-size: 16px;
}
.slick-dots li.slick-active button:before{
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
.slick-dots{
    bottom: 10px;
}
.slick-dotted.slick-slider{
    margin-bottom: 0;
}
/*section about*/
.about{
    background-image: linear-gradient(to top, #322539 0%, #745083 100%);
    padding: 5% 0;
    color: #fff;
}
.about .article{
    margin-left: 50px;
    position: relative;
}
.about .article i{
    position: absolute;
    left: -30px;
    top: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.about .article p{
    text-shadow: 1px 1px 0 #0f1518;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.about .article a{
    text-shadow: 1px 1px 0 #0f1518;
    font-family: "LeagueGothic";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: right;
    display: block;
}
/*section copi*/
.copi{
    background: #ececec;
    padding: 5% 0;
}
.copi .article-title{
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
}
.copi .copi-subtitle{
    color: #c5c5c5;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    margin: 23px 0 15px 0;
}
.copi p{
    text-shadow: 1px 1px 0 #ffffff;
    color: #787878;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
/*section footer*/
.footer{
    background-image: url("../img/bg-footer.png");
    background-size: cover;
    height: 118px;
}
.wrap-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.right-footer{
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    line-height: 33.72px;
}
.right-footer span{
    font-weight: 800;
}
